html {
	position: relative;
	min-height: 100%;
}
body {
	background-color: #eeeeee;
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
	margin-bottom: 120px;
}
a {
	color: #ec7748;
}
.fixed-width {
	width: 990px;
	margin: 0 auto;
}
header {
	background-color: #223e80;
	color: white;
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
header nav ul {
	float: right;
	padding: 0;
	margin: 40px 0 0 0;
}
header nav ul li {
	margin-left: 15px;
	display: inline;
	text-transform: uppercase;
}
header nav ul li a {
	color: #d8d8d8;
	text-decoration: none;
}
header nav ul li a:hover {
	color: #ffffff;
}
header nav ul li.active a {
	color: #ec7748;
}
#logo {
	margin: 15px 0 15px 20px;
}
footer {
	background-color: white;
	box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.25);
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}
footer p {
	margin: 0;
	padding: 20px 0 0 0;
}
footer nav ul {
	margin: 0;
	padding: 0 0 20px 0;
}
footer nav ul li {
	display: inline;
}
#content {
	margin: 15px auto;
}
#hero {
	background-color: #8ca1d1;
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
	text-align: center;
}
#hero h1 {
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 60px;
	margin: 0;
	padding: 35px 0 30px 0;
	color: #ededf5;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
#hero p {
	font-size: 26px;
	color: #ededf5;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	margin: 0;
	padding: 0 0 30px 0;
}
#hero a {
	display: block;
	width: 580px;
	height: 70px;
	line-height: 65px;
	background-color: #ec7748;
	margin: 0 auto;
	color: #ffffff;
	text-decoration: none;
	font-size: 25px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	border-radius: 6px;
	background: -moz-linear-gradient(top, #f5b69d 0%, #ec7748 75%, #ec7748);
	background: -webkit-gradient(linear, left top, left bottom, from(#f5b69d), color-stop(0.75, #ec7748), to(#ec7748));
	box-shadow: 0px 0px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(139,62,32,1);
}
#hero a:hover {
	color: #ededf5;
	background: -moz-linear-gradient(top, #f5b69d 0%, #ec7748 65%, #ec7748);
	background: -webkit-gradient(linear, left top, left bottom, from(#f5b69d), color-stop(0.65, #ec7748), to(#ec7748));
	box-shadow: 0px 0px 3px rgba(000,000,000,0.6), inset 0px 0px 1px rgba(139,62,32,1);
}
.announcement {
	color: #666666;
	font-size: 20px;
	padding-left: 50px;
	height: 36px;
	line-height: 36px;
	background-image: url('/images/bubble.png');
	background-repeat: no-repeat;
}
h2 {
	color: #666666;
	font-size: 25px;
}
.align-right {
	float: right;
	padding-left: 10px;
}
.align-left {
	float: left;
	padding-right: 10px;
}
#google-groups-link {
	border-bottom: none;
	float: right;
	margin: 17px 0 0 0;
}
img.sponsor-logo {
	width: 200px;
}
#sponsors {
}
.talk-abstract {
	font-size: 80%;
	margin: 10px 10px;
	font-style: italic;
}