Redirect 302 /subscribe http://eepurl.com/DaINX
Redirect 302 /survey2013 https://docs.google.com/forms/d/1IgUNMaEa051iOyhobibYE9G_HsUMJCTKgHBgkFdxA7o/viewform
Redirect 302 /free-zf2-book http://leanpub.com/using-zend-framework-2/c/DI$COUNT
Redirect 302 /donate https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8Q4PUM75V8DGS
Redirect 302 /phpsc15 https://phpsouthcoast2015.eventbrite.co.uk/?access=HantsUGOffer

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
