<?php
declare(strict_types=1);

return [
    'debug' => true,
    'config_cache_enabled' => false,
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'url' => 'POPULATE THIS',
                ],
            ],
        ],
    ],
    'phph-site' => [
        's3' => [
            'credentials' => [
                'key' => 'POPULATE THIS',
                'secret' => 'POPULATE THIS',
            ],
            'region' => 'eu-west-2',
            'version' => 'latest',
            'bucket' => 'POPULATE THIS',
        ],
        'google-recaptcha' => [
            'site-key' => 'POPULATE THIS',
            'secret-key' => 'POPULATE THIS',
        ],
        'twitter' => [
            'identifier' => 'POPULATE THIS',
            'secret' => 'POPULATE THIS',
            'callback_uri' => 'POPULATE THIS',
        ],
        'github' => [
            'clientId' => 'POPULATE THIS',
            'clientSecret' => 'POPULATE THIS',
            'redirectUri' => 'POPULATE THIS',
        ],
    ],
];
